@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideUp {
    0% {
        transform: translateY(10%);
        opacity: 0.4;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes slideDown {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-10%);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes modalIn {
    0%{
        scale: 1.05;
        opacity: 0.6;
    }
    100%{
        scale: 1;
        opacity: 1;
    }
}


@keyframes modalOut {
    0%{
        scale: 1;
        opacity: 1;
    }
    100%{
        scale: 1.05;
        opacity: 0;
    }
}

@keyframes modalBGIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.5;
    }
}

@keyframes modalBGOut {
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
    }
}


